#header {
    background: var(--color-white);
    transition: all 0.5s;
    z-index: 997;
    height: 86px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);

    &.fixed-top {
        height: 70px;
    }

    .logo {
        font-size: 30px;
        margin: 0;
        padding: 0;
        line-height: 1;
        font-weight: 600;
        letter-spacing: 0.8px;
        font-family: "Poppins", sans-serif;

        a {
            color: #222222;

            span {
                color: var(--color-primary);
            }
        }

        img {
            max-height: 40px;
        }
    }
}